*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background : linear-gradient(#01012e,#240019);
    font-family: cursive;
}

form{
    width: 500px;
    background-color: rgb(92, 95, 137);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 0px 10px rgb(153, 157, 204),0px 0px 20px rgb(77, 81, 123);
}
form > * {
    margin-bottom: 20px;
}

input{
    background-color: #4a4861;
    border: none;
    padding: 15px 25px;
    width: 60%;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}
input:focus{
    outline: none;
}
.birthday{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.birthSelect{
    margin: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
select{
    font-size: 20px;
    width: 100px;
    padding: 10px 5px;
    background-color: #4a4861;
    color: white;
    border-radius: 10px;
    border: none;
}
select:focus{
    outline: none;
}
.birthday > h3 {
    font-size: 25px;
}
.gender,.job{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gender > h3,.job > h3{
    margin-bottom: 10px;
    font-size: 25px;
}
.gender > select ,.job > select{
    font-size: 18px;
}
p{
    color: blanchedalmond;
}
a{
    color : rgb(30, 30, 48);
    font-weight: bold;
}
#register{
    background-color: rgb(61, 67, 138);
    width: 200px;
    transition: .4s;
    cursor: pointer;
}
#register:hover{
    background-color: rgb(37, 42, 95);
}
h5{
    color: rgb(176, 37, 37);
    margin-bottom: 5px;
}

@media (max-height:670px){
    body{
        align-items: start;
        height: auto;
    }
}